@charset "UTF-8";


@font-face{
    font-family: 'noto-sans';
    src: url(../font/NotoSansKR-Regular.ttf);
}


* {margin: 0;padding: 0; box-sizing: border-box;} 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}



body{
    font-family: 'noto-sans';
}


.visual{
    width: 100%;
    /* padding-top: 50px; */
}

.inner{
    width: 100%;
    margin: 0 auto;
}

.visual_slide{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(87, 87, 87);
}

/* swiper-slide 넓이 주고 js에 프리뷰 auto, 센터 true 주면 활성화 아이템 기준으로 양 옆에 자동 맞춤 정렬 됨 */
.swiper-slide.visual_item{
    width: 90%;
}

.swiper-slide.visual_item img{
    width: 100%;
}


.visual_slide .swiper-scrollbar.barPart{
    background-color: rgb(153, 153, 153);
}

.visual_slide .swiper-scrollbar-drag{
    background-color: rgb(255, 0, 0);
}
